.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

footer {
    text-align: center;
    background-color: rgb(180, 179, 179);
}

img {
    padding: 10px;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}


.error{
	display: none;
	margin: 10px;
}		

.error-display{
	color: red;
	margin: 10px;
} 



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
  }