<form id="addsubject-form" method="POST" action="/school/add-subject">
    <h2 class="text-center">Add Subjects</h2>
    <hr />
    <div class="mt-3 mb-3">
      <label for="subject">Subject:</label>
      <input
        type="text"
        class="form-control"
        name="subject"
        placeholder="Name of the Subject"
        id="subject"
      />
      <span class="error" id="subject-error"
        >Subject should be at least 3 characters long.</span
      >
    </div>
    <div class="mb-3">
      <label for="medium">Medium</label>
      <select id="medium" class="form-control" name="medium">
        <option value="">Select One</option>
        <option value="Tamil">Tamil</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
      </select>
      <span class="error" id="medium_error"
        >Please select the Medium.</span
      >
    </div>
    <div class="add-subject">
      <button class="btn btn-secondary" type="submit">
        Add Subject
      </button>
    </div>
  </form>