
            <form id="addclass-form" action="/school/add-classroom" method="POST">
              <div class="mt-3 mb-3">
                <h2 class="text-center">Add Class Sections</h2>
                <p class="text-center">
                  <small>Adding Class Sections to the school.</small>
                </p>
                <hr />
              </div>
              <div class="mb-3">
                <label for="class">Class & Medium:</label>
                <select id="class" class="form-control" name="class">
                  <% if(locals.classOptions) {
                    for (let i=0; i < locals.classOptions.length; i++) { %>
                      <option value="<%= locals.classOptions[i].id %>"><%= locals.classOptions[i].class_std %> std - <%= locals.classOptions[i].medium %> Medium</option>
                    <% } } %>
                </select>
                <span class="error" id="class_error"
                  >Class should not be empty.</span
                >
              </div>
              <div class="mb-3">
                <label for="section">Section:</label>
                <input
                  type="text"
                  class="form-control"
                  name="section"
                  id="section"
                  placeholder="A"
                />
                <span class="error" id="section_error"
                  >Section should not be empty.</span
                >
              </div>
              <div class="mb-3">
                <label for="strength">Classroom Strength: </label>
                <input
                  type="text"
                  class="form-control"
                  name="strength"
                  id="strength"
                  placeholder="Enter the classroom strength."
                />
                <span class="error" id="board_error"
                  >strength should be a number.</span
                >
              </div>
              <div class="mb-3">
                <button class="btn btn-secondary" type="submit" value="submit">
                  Create School
                </button>
              </div>
            </form>
           