
            <form id="addclass-form" action="/dashboard/fee-structure/edit/:id?_method=PUT" method="POST">
                <div class="mt-3 mb-3">
                  <h2 class="text-center">Edit Fee Structure</h2>
                  <p class="text-center">
                    <small>Editing Fee Structure of the school.</small>
                  </p>
                  <hr />
                </div>
                <div class="mb-3">
                  <label for="class_std">Class (Std):</label>
                  <input
                    type="text"
                    class="form-control"
                    name="class_std"
                    id="class_std"
                    placeholder="6 / LKG / UKG etc"
                    value="<%= class_std %>"
                  />
                  <span class="error" id="class_std_error"
                    >Please enter the Class / Standarad.</span
                  >
                </div>
                <div class="mb-3">
                  <label for="medium">Medium of Language:</label>
                  <select id="medium" class="form-control" name="medium">
                    <option value="">Select One</option>
                    <option value="Tamil">Tamil</option>
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                  </select>
                  <span class="error" id="medium_error"
                    >Please select the Medium.</span
                  >
                </div>
                <div class="mb-3">
                  <label for="fee">Fees: </label>
                  <input
                    type="number"
                    class="form-control"
                    name="fee"
                    id="fee"
                    placeholder="Fee (in INR) per year."
                    value="<%= actual_fee %>"
                  />
                  <span class="error" id="fee_error"
                    >Please enter the Fee amount.</span
                  >
                </div>
                <div class="mb-3">
                  <button class="btn btn-secondary" type="submit" value="submit">
                    Update Fee Structure
                  </button>
                </div>
              </form>