<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-lg-2 col-xl-2 px-sm-2 px-0 bg-light pt-5">
      <div
        class="
          d-flex
          flex-column
          align-items-center align-items-sm-start
          px-3
          pt-2
          mt-2
          text-white
          sticky-top
        "
      >
        <a
          href="#"
          class="
            d-flex
            align-items-center
            pb-3
            mb-md-0
            me-md-auto
            text-dark text-decoration-none
          "
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="
            nav nav-pills
            flex-column
            mb-sm-auto mb-0
            align-items-center align-items-sm-start
            mt-3
          "
          id="menu"
        >
          <!-- Default UL for all roles -->

          <li>
            <a href="/staff/dashboard" class="nav-link align-middle px-0">
              <i class="fas fa-home"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/staff/profile-create" class="nav-link px-0 align-middle">
              <i class="fas fa-id-card"></i>
              <span class="ms-1 d-none d-sm-inline">Profile</span></a
            >
          </li>
          <!-- Default UL for all roles -->
          <!-- staff_role = ADMIN 9 -->
          <% if(staff_role == 9) { %>
          <!-- create class_medium -->
          <li>
            <a
              href="/staff/dashboard/fee-structure"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Add Class Medium</span>
            </a>
          </li>
          <li>
            <a href="/staff/dashboard/users" class="nav-link px-0 align-middle">
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Manage Staff Login</span>
            </a>
          </li>
          <li>
            <a href="/staff/dashboard/student-promotion" class="nav-link px-0 align-middle">
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Student Promotion</span>
            </a>
          </li>

          <li>
            <a
              href="/staff/dashboard/staff-salary-info"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Staff Salary Details</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/schedule-plan"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Schedule Plan</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/emp-report"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Employee Performance</span>
            </a>
          </li>
          <% } %>
          <!-- staff_role is Non-teaching-staff -->
          <% if(staff_role == 2) { %>
          <li>
            <a
              href="/staff/dashboard/view-staff-profile"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">View Staff Profile</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/view-student-profile"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">View Student Profile</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/fee-collection"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">New Admission</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/fee-due-collection"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Fee Due Collection</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/staff-add-attendance"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Staff Attendance</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/staff-salary-credit"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Credit Staff Salary</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/admission-report"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Enrollment Report</span>
            </a>
          </li>
          <!-- need to add some more here -->
          <% } %>
          <!-- Staff_role = 8 Teaching Staff -->
          <% if(staff_role == 8){ %>
          <li>
            <a
              href="/staff/dashboard/class-assigned"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-puzzle-piece"></i>
              <span class="ms-1 d-none d-sm-inline">Class Assigned</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/students-list"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-book-medical"></i>
              <span class="ms-1 d-none d-sm-inline">Students List</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/student-doubts"
              class="nav-link px-0 align-middle"
            >
            <i class="far fa-comments"></i>
              <span class="ms-1 d-none d-sm-inline">Student Doubts</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/my-schedule"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-users"></i>
              <span class="ms-1 d-none d-sm-inline">My Schedule</span>
            </a>
          </li>
          <li>
            <a href="/staff/dashboard/class-tests" class="nav-link px-0 align-middle">
              <i class="far fa-address-book"></i>
              <span class="ms-1 d-none d-sm-inline">Class Tests</span>
            </a>
          </li>
          <li>
            <a href="/staff/dashboard/view-exams" class="nav-link px-0 align-middle">
              <i class="fas fa-vial"></i>
              <span class="ms-1 d-none d-sm-inline">View Exams</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/student-marks"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-user-graduate"></i>
              <span class="ms-1 d-none d-sm-inline">Student's Marks</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/student-performance"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-rupee-sign"></i>
              <span class="ms-1 d-none d-sm-inline">Performance Report</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/message-students"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Announcement</span>
            </a>
          </li>

          <% } %>
          <!-- staff_role = 4 HEAD MASTER -->
          <% if(staff_role == 4) { %>
          <li>
            <a
              href="/staff/dashboard/see-staff-profile"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">View Staff Profile</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/see-student-profile"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">View Student Profile</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/subjects"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Add Subjects</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/section-subject-staff"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Map Subject & Staff</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/sections"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Add Class Sections</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/exam-master"
              class="nav-link px-0 align-middle"
            >
            <i class="fas fa-clipboard"></i>
              <span class="ms-1 d-none d-sm-inline">Exam Master</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/exams"
              class="nav-link px-0 align-middle"
            >
            <i class="fas fa-clipboard"></i>
              <span class="ms-1 d-none d-sm-inline">Exams</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/release-annual-marks"
              class="nav-link px-0 align-middle"
            >
            <i class="fas fa-chart-line"></i>
              <span class="ms-1 d-none d-sm-inline">Annual Exam</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/message-students"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Message Student</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/message-staff"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Message Staff</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/student-performance"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Student performance</span>
            </a>
          </li>
          <li>
            <a
              href="/staff/dashboard/staff-performance"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-bullhorn"></i>
              <span class="ms-1 d-none d-sm-inline">Staff performance</span>
            </a>
          </li>
          <% } %>
        </ul>
        <hr />
      </div>
    </div>
    <div class="row">
      <!-- </div>
    </div>
</div> -->

