<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-lg-2 col-xl-2 px-sm-2 px-0 bg-light pt-5">
      <div
        class="
          d-flex
          flex-column
          align-items-center align-items-sm-start
          px-3
          pt-2
          mt-2
          text-white
          sticky-top
        "
      >
        <a
          href="#"
          class="
            d-flex
            align-items-center
            pb-3
            mb-md-0
            me-md-auto
            text-dark text-decoration-none
          "
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="
            nav nav-pills
            flex-column
            mb-sm-auto mb-0
            align-items-center align-items-sm-start
            mt-3
          "
          id="menu"
        >
          <li>
            <a href="/student/dashboard" class="nav-link align-middle px-0">
              <i class="fas fa-home"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              href="/student/profile-create"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-id-card"></i>
              <span class="ms-1 d-none d-sm-inline">Profile</span></a
            >
          </li>

          <li>
            <a
              href="/student/admission-fee-payment"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-id-card"></i>
              <span class="ms-1 d-none d-sm-inline">Enrollment</span></a
            >
          </li>
          <!-- <li>
            <a
              href="/student/dashboard/students-list"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-book-medical"></i>
              <span class="ms-1 d-none d-sm-inline">Students List</span>
            </a>
          </li> -->
          <li>
            <a
              href="/student/dashboard/my-staff"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-users"></i>
              <span class="ms-1 d-none d-sm-inline">My Staff</span>
            </a>
          </li>
          <li>
            <a
              href="/student/dashboard/my-marks"
              class="nav-link px-0 align-middle"
            >
              <i class="far fa-address-book"></i>
              <span class="ms-1 d-none d-sm-inline">My Test Marks</span>
            </a>
          </li>

          <li>
            <a
              href="/student/dashboard/my-report"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-rupee-sign"></i>
              <span class="ms-1 d-none d-sm-inline">My Report</span>
            </a>
          </li>
          <li>
            <a
              href="/student/dashboard/my-performance"
              class="nav-link px-0 align-middle"
            >
              <i class="fas fa-rupee-sign"></i>
              <span class="ms-1 d-none d-sm-inline">Where I Stand?</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="row">
      <!-- </div>
    </div>
</div> --></div
    ></div
  ></div
>
