<div>
    <h1>Sidebar for Home Page</h1>
    <p>Test content .. this will show on home page only. Because, it is used in with-sidebar.ejs layout design</p>
    <img src="/img/focus.jpg" alt="focus-on-what-you-do" width="500px">
    <a class="btn btn-primary" href="/">Go to Login Page</a>
    
</div>