<div class="container">
    <div class="row p-5 mt-5">
        <h4 class="display-4">Oops!. The page you are looking for is not found.</h4>
        <p>Use the naviation bar instead to your desired page.</p>
    </div>
</div>