<div class="container p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <% if(locals.err_msg.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
                    <%= err_msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% } %>
            <% if(locals.success_msg.length > 0) { %>
              <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
                  <%= success_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
          <% } %>
          <br>

            <form id="login-form" action="../dashboard/change-password" method="POST">
                <div class="mt-3 mb-3">
                    <h2>Change Password</h2>
                    <small>You are changing the password.</small>
                    <hr>
                </div>
    
                <div class="mt-3 mb-3">
                    <label for="school_current_Password">Current Password:</label>
                    <input type="password" class="form-control" name="schoolCurPassword" id="schoolCurPassword" placeholder="Your Current password.">
                    <span class="error" id="school_current_Password_error">Please Enter your current password.</span>
                </div>
                <div class="mb-3">
                    <label for="school_new_Password">New Password:</label>
                    <input type="password" class="form-control" name="schoolNewPassword" id="schoolNewPassword" placeholder="Create a New password.">
                    <span class="error" id="sschool_new_Password_error">New Password should contain 8 char which includes an Uppercase, a lowercase, a Number and a Special char.</span>
                </div>
                <div class="mb-3">
                    <label for="school_retype_Password">Confirm New Password:</label>
                    <input type="password" class="form-control" name="schoolRetypePassword" id="schoolRetypePassword" placeholder="Retype your password.">
                    <span class="error" id="school_retype_Password_error">Password should match.</span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary" type="submit" value="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>