    <div class="container p-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form id="login-form" method="POST" data-parsely-validate="">
                    <h2 class="text-center">Login to your account</h2>
                    <div class="mt-3 mb-3">
                        <label for="select">Role:</label>
                        <input list="roles" name="role" id="role" class="form-control" required="">
                        <datalist id="roles">
                            <option value="Admin">Admin</option>
                            <option value="Head Master">Head Master</option>
                            <option value="Teaching Faculty">Teaching Faculty</option>
                            <option value="Non-teaching Faculty">Non-teaching Faculty</option>
                            <option value="Student">Student</option>
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" id="username" required="">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Type your Password here" id="password" required="">
                    </div>
                    <button class="btn btn-primary" type="submit" value="validate">Login</button>
                </form>
            </div>
        </div>
    </div>