<div class="pt-5">
  <h4 class="text-center">View Schedule Template</h4>
  <br />
  <table class="table table-light text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th width="200px">Template Name</th>
        <th width="200px">Periods</th>
        <th width="200px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.templates.length > 0) { for(var i = 0; i <
      locals.templates.length; i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.templates[i].schedule_name %></td>
        <td><%= locals.templates[i].no_of_periods %></td>
        <td>
          <button
            data-id="<%= locals.templates[i].id %>"
            type="button"
            class="deleteSchedTemp btn btn-danger View"
            data-bs-toggle="modal"
          >
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="7" class="text-center">
          <mark>No Schedule plan is found.</mark>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteSchedTempModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Deleting Class - Section
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="delete-modal-body"></div>
    </div>
  </div>
</div>
