<div class="pt-5">
  <h4 class="text-center">View Subjects</h4>
  <br />
  <table class="table table-light text-center" id="datatable">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Subject Title</th>
        <th width="200px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.data.length > 0) { for(var i = 0; i < locals.data.length;
      i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.data[i].subject_name %></td>
        <td>
          <a
            class="btn btn-danger delete"
            href="../dashboard/subjects/delete/<%= locals.data[i].id %>"
            ><i class="far fa-trash-alt" aria-hidden="true"></i
          ></a>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="5" class="text-center"><mark>No Subjects found.</mark></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
