<form id="collect-fee-form" action="../dashboard/schedule-plan" method="POST">
  <div class="mb-3">
    <h2 class="text-center">School Schedule Plan</h2>
    <hr />
  </div>
  <div class="mb-3">
    <label for="school_schedule_name">Name of the Schedule:</label>
    <input
      type="text"
      class="form-control"
      name="school_schedule_name"
      id="school_schedule_name"
      placeholder="Name this Schedule Plan"
    />
  </div>

  <div class="mb-3">
    <label for="dob">Total No of Periods in a Day: </label>
    <input
      type="number"
      class="form-control"
      name="school_period_count"
      id="school_period_count"
      min="0"
      max="10"
      placeholder="No of Periods per day."
    />
    <span class="error" id="school_period_count_error"
      >Please enter no of scheduled periods in a day.</span
    >
  </div>
  <div class="mt-3 mb-3">
    <button class="btn btn-secondary" type="submit" value="submit">
      Add Schedule Plan
    </button>
  </div>
</form>
