<form
  id="collect-fee-form"
  action="/staff/dashboard/student-attendance"
  method="POST"
>
  <div class="mb-3">
    <h2 class="text-center">Attendance Progress</h2>
    <hr />
  </div>
  <!-- Name this Schedule Plan and choose for each class sections -->
  <div class="mb-3">
    <label for="date">Date: </label>
    <input type="text" class="form-control" name="attendance_date" id="attendance_date" value="<%= new Date().getDate(); %>-<%= new Date().getMonth()+1; %>-<%= new Date().getFullYear(); %>" disabled>
  </div>
  <div class="mb-3">
    <label for="period_no">Preiod No: </label>
    <input type="number" class="form-control" name="period_no" id="period_no">
  </div>
  <div class="mb-3">
    <label for="class_sec_id">Class Section: </label>
    <input type="text" class="form-control" name="class_sec_id" id="class_sec_id" value="">
  </div>
  <div class="mb-3">
    <label for="absent_stu">Absent Students: </label>
    <input type="text" class="form-control" name="absent_stu" id="absent_stu">
  </div>
  <div class="mb-3">
    <label for="leave_informed_stu">Leave Intimated: </label>
    <input type="text" class="form-control" name="leave_informed_stu" id="leave_informed_stu">
  </div>
  <div class="mb-3">
    <label for="on_duty_stu">On-Duty students: </label>
    <input type="text" class="form-control" name="on_duty_stu" id="on_duty_stu">
  </div>
  <div class="mt-3 mb-3">
    <button class="btn btn-secondary" type="submit" value="submit">
      Add Attendance Record
    </button>
  </div>
</form>
