<form
  id="collect-fee-form"
  action="/school/dashboard/schedule-plan"
  method="POST"
>
  <div class="mb-3">
    <h2 class="text-center">School Schedule Plan</h2>
    <hr />
  </div>
  <!-- Name this Schedule Plan and choose for each class sections -->
  <div class="mb-3">
    <label for="school_schedule_name">Name of the Schedule:</label>
    <input
    type="text"
    class="form-control"
    name="school_schedule_name"
    id="school_schedule_name"
    placeholder="Name this Schedule Plan"
  />
  <span class="error" id="fee_paid_error">Please enter the amount.</span>
  </div>
  <div class="row g-3">
    <div class="col">
      <label for="school_start">School starts at:</label>
      <input
        type="time"
        class="form-control"
        name="school_start"
        id="school_start"
        placeholder="Time when school starts:"
      />
      <span class="error" id="school_start_error"
        >Please enter the time when school starts.</span
      >
    </div>
    <div class="col">
      <label for="school_end">School ends at (24H):</label>
      <input
        type="time"
        class="form-control"
        name="school_end"
        id="school_end"
        placeholder="Time when school closes:"
      />
      <span class="error" id="school_end_error"
        >Please enter the time when school ends in a day.</span
      >
    </div>
  </div>
  <div class="mb-3">
    <label for="dob">Period Time (in mins): </label>
    <input
        type="number"
        class="form-control"
        name="school_period_time"
        id="school_period_time"
        placeholder="No of mins / period."
      />
      <span class="error" id="period_time_error"
        >Please enter the period time in mins.</span
      >
  </div>
  <div class="mb-3">
    <label for="dob">Lunch Time (in mins): </label>
    <input
        type="mins"
        class="form-control"
        name="school_lunch_time"
        id="school_lunch_time"
        placeholder="Lunch time in Mins."
      />
      <span class="error" id="period_time_error"
        >Please enter the lunch time in mins.</span
      >
  </div>
  <div class="mb-3">
    <label for="dob">Total No of Intervals in a Day: </label>
    <input
        type="number"
        class="form-control"
        name="school_interval_count"
        id="school_interval_count"
        placeholder="No of Intervals per day."
      />
      <span class="error" id="period_time_error"
        >Please enter no of scheduled intervals in a day.</span
      >
  </div>
  <div class="mb-3">
    <label for="dob">Interval Time (in mins): </label>
    <input
        type="number"
        class="form-control"
        name="school_interval_time"
        id="school_interval_time"
        placeholder="Interval time in mins."
      />
      <span class="error" id="period_time_error"
        >Please enter the mins per interval.</span
      >
  </div>
  <div class="mt-3 mb-3">
    <button class="btn btn-secondary" type="submit" value="submit">
      Add Schedule Plan
    </button>
  </div>
</form>
