            <form id="addclass-form" action="../dashboard/exam-master" method="POST">
              <div class="mt-3 mb-3">
                <h2 class="text-center">Add Exam Master</h2>
                <p class="text-center">
                  <small>Creating Exam Master for the school.</small>
                </p>
                <hr />
              </div>
                <div class="mb-3">
                  <label for="exam_name">Name the Exam:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="exam_name"
                    id="exam_name"
                    placeholder="Give it a General Name. For identification purpose only"
                  />
                  <span class="error" id="exam_name_error"
                    >Exam Name should not be empty.</span
                  >
                </div>
                <div class="mb-3">
                  <label for="exam_type">Choose Exam Type:</label>
                  <select id="exam_type" class="form-control" name="exam_type" required>
                    <option value="">Select One</option>
                    <option value="term_exam">Mid Term Exam</option>
                    <option value="quarterly_exam">Quarterly Exam</option>
                    <option value="half_yearly_exam">Half Yearly Exam</option>
                    <option value="model_exam">Model Exam</option>
                    <option value="annual_exam">Annual Exam</option>
                  </select>
                  <span class="error" id="class_error"
                    >Please choose an exam type.</span
                  >
                </div>
              <div class="mb-3">
                <button id="create_exam_button" class="btn btn-secondary" type="submit" value="submit">
                  Add a Master
                </button>
              </div>
            </form>